# Basic level

*1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.*

In [ ]:
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

*2. Create a program that calculates the sum of all numbers in a list using a `for` loop.*

In [ ]:
l=list(input().split())
sum=0
for i in l:
  sum = sum+int(i)
print(sum)

1 2 3 4 56 7 8 9 8 41 1 2 2
144

*3. Write a program to print the characters of a string in reverse order using a `for` loop.*

In [ ]:
string= input()
for i in range(len(string)-1,-1,-1):
  print(string[i],end='')

Jai Shri Ram
maR irhS iaJ

*4. Develop a program that finds the factorial of a given number using a `for` loop.*

In [ ]:
numbers=   int (  input  ())
factorial=   1
for   i   in  range  ( 1 , numbers+ 1 ):
    factorial=factorial*i
print  (  factorial  )

9
362880

*5. Create a program to print the multiplication table of a given number using a `for` loop.*

In [ ]:
n=int(input())
for i in range(1,11):
    print(f'{n}×{i} ={n*i}')

9
9×1 =9
9×2 =18
9×3 =27
9×4 =36
9×5 =45
9×6 =54
9×7 =63
9×8 =72
9×9 =81
9×10 =90

*6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.*

In [ ]:
n= input  ()  .split  ()
o=  0
e=  0
for   i   in   n  : if int (  i  )  %  2  ==  0 :          e+=  1 else :          o+=  1  print  (  f  'There are { e } even numbers and { o } odd numbers in the list' )

12 32 45 65 67 87 89 79 88 66
There are 4 even numbers and 6 odd numbers in the list

*7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.*

In [ ]:
def square():
  n=int(input())
  for i in range(1,n+1):
    print(i**2,end=' ')

square()

5
1 4 9 16 25

*8. Create a program to find the length of a string without using the `len()` function.*

In [ ]:
def length():
  string=input()
  i=0
  for x in string:
    i+=1
  return i
length()

Hello! how are you?

19

*9. Write a program that calculates the average of a list of numbers using a `for` loop.*

In [ ]:
def avg():
  l1=list(input().split())
  sum=0
  for i in l1:
    sum+=int(i)
    avg= sum/len(l1)
  return avg

avg()

1 2 3 4 5 6 7 89 1 21 1

12.727272727272727

*10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.*

In [ ]:
def fib(n):
  a=1
  b=1
  for i in range(n):
    yield a,i
    a,b= b, a+b
  return (i,a)
for i in fib(11):
  print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)
(89, 10)

#Intermediate level

*11. Write a program to check if a given list contains any duplicates using a `for` loop.*

In [ ]:
def duplicate(lis):
  dup = []
  for i in range(len(lis)):
    if lis[i] not in dup:
        dup.append(lis[i])
    else:
      print(lis[i],end=' ')

duplicate([1,2,3,4,5,1,2,6,8,7,5])

1 2 5

*12. Create a program that prints the prime numbers in a given range using a `for` loop.*

In [ ]:
def prime(n):
    if n <= 1:
      return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
          return False
    return True
def is_prime(a,b):
  for n in range(a,b+1):
    if prime(n):
      print(n,end=' ')

is_prime(1,100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

*13. Develop a program that counts the number of vowels in a string using a `for` loop.*

In [ ]:
def couont_vowels(string):
  global vowels
  vowels=''
  for i in range(len(string)):
    if string[i].lower() in 'aeiou':
      vowels+=string[i]
  return len(vowels)
string=input()
print(f'There are {couont_vowels(string)} vowels which are "{vowels}"')

I am good And yOU?
There are 7 vowels which are "IaooAOU"

*14. Write a program to find the maximum element in a 2D list using a nested `for` loop.*

In [ ]:
li= [[1,2],[3,4,5,7],[4,85,98,54],[501,21]]
for i in range(len(li)):
  for j in range(i):
     continue
max(li[i])

501

*15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.*

In [ ]:
li=list(input().split())
s=[]
element=input()
for i in li:
  if i != element:
    s.append(i)
print(s)

78 9 5 85 2 115 2232 65 66 6 6 678 41 2 54 6
6
['78', '9', '5', '85', '2', '115', '2232', '65', '66', '678', '41', '2', '54']

*16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.*

In [ ]:
n=  int ( input ( 'Input range' ))
for  i  in range ( 1 , n+ 1 ):
    for  j  in range ( 1 , 11 ):
       multiplication= i * j
       print (f'{ i }  ×  { j }  = {multiplication}' )
    print ( '-' * 15 )

Input range5
1  ×  1  = 1
1  ×  2  = 2
1  ×  3  = 3
1  ×  4  = 4
1  ×  5  = 5
1  ×  6  = 6
1  ×  7  = 7
1  ×  8  = 8
1  ×  9  = 9
1  ×  10  = 10
---------------
2  ×  1  = 2
2  ×  2  = 4
2  ×  3  = 6
2  ×  4  = 8
2  ×  5  = 10
2  ×  6  = 12
2  ×  7  = 14
2  ×  8  = 16
2  ×  9  = 18
2  ×  10  = 20
---------------
3  ×  1  = 3
3  ×  2  = 6
3  ×  3  = 9
3  ×  4  = 12
3  ×  5  = 15
3  ×  6  = 18
3  ×  7  = 21
3  ×  8  = 24
3  ×  9  = 27
3  ×  10  = 30
---------------
4  ×  1  = 4
4  ×  2  = 8
4  ×  3  = 12
4  ×  4  = 16
4  ×  5  = 20
4  ×  6  = 24
4  ×  7  = 28
4  ×  8  = 32
4  ×  9  = 36
4  ×  10  = 40
---------------
5  ×  1  = 5
5  ×  2  = 10
5  ×  3  = 15
5  ×  4  = 20
5  ×  5  = 25
5  ×  6  = 30
5  ×  7  = 35
5  ×  8  = 40
5  ×  9  = 45
5  ×  10  = 50
---------------

*17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.*

In [ ]:
def fer_2_cel():
  d=[]
  for i in temp:
    c= (5*i-160)/9
    d.append(c)
  return d
temp=[96,97,98,99,100,104,103,102,101]
fer_2_cel()

[35.55555555555556,
 36.111111111111114,
 36.666666666666664,
 37.22222222222222,
 37.77777777777778,
 40.0,
 39.44444444444444,
 38.888888888888886,
 38.333333333333336]

*18. Create a program to print the common elements from two lists using a `for` loop.*

In [ ]:
l1=input().split()
l2=input().split()
l3=[]
for i in l1:
  for j in l2:
    if i==j:
      l3.append(i)
print(l3)

hello hii no how too today
hii 1 tomorrow hello yes today
['hello', 'hii', 'today']

*19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern*

In [ ]:
n= int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end=' ')
  print()

5
*
* *
* * *
* * * *
* * * * *

*20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.*

In [ ]:
def GCD(n1,n2):
  l1=[]
  for i in range(1,n1):
    for j in range(1,n2):
      if n1%i==0 and n2%j==0:
        if i==j:
          l1.append(i)
  return max(l1)
GCD(42,49)

7

#Advanced Level:

*21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.*

In [ ]:
def add(l1):
    sum_=sum(i for i in l1)
    return(sum_)

In [ ]:
add([1,2,3,4,5])

15

*22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.*

In [ ]:
def is_prime(n):
  if n<=1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True
n = int(input())
prime_Factor = [i for i in range(2,n+1) if n%i ==0 and is_prime(i) ]
print(f'The prime factors of {n} are {prime_Factor}')

42
The prime factors of 42 are [2, 3, 7]

*23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.*

In [ ]:
def unique(list_1):
  unique_= [y for x, y in enumerate(list_1) if list_1.count(y) == 1]
  return unique_
unique_values= unique(list_1=[1,2,2,2,11,2,22,22,111,44,5,5,6,8,8])
print(f'The unique values from the list are: {unique_values}')

The unique values from the list are: [1, 11, 111, 44, 6]

*24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.*

In [ ]:
def palindromic(n):
  palindromic_numbers = [i for i in range(n) if str(i)==str(i)[::-1]]
  return palindromic_numbers
n = int(input('Enter the limit: '))
nums = palindromic(n)
print(f'The list of palindrimic numbers to the limit of {n} is: {nums}')

Enter the limit: 100
The list of palindrimic numbers to the limit of 100 is: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

*25. Write a program to flatten a nested list using list comprehension.*

In [ ]:
def flatten(l1):
  Flatten_list=[j for i in l1 for j in (i if type(i) == list else [i])]
  return Flatten_list
display =  flatten(l1=[1,2,[1,2],3,4,5,6,[7,8,9], 10,11,[12,13]])
print(f'''The nested list {l1} is flattened:
{display}''')

The nested list [1, 2, [1, 2], 3, 4, 5, 6, [7, 8, 9], 10, 11, [12, 13]] is flattened:
[1, 2, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
l1=[1,2,[1,2],3,4,5,6,[7,8,9], 10,11,[12,13]]
l2=[]
l
for i in l1:
  if type(i) != list:
    l2.append(i)
  if type(i) == list:
      for j in i:
        l2.append(j)
l2

[1, 2, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

*26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.*

In [ ]:
def sum_odd_even(l1):
  sum_of_even = sum([i for i in l1 if i % 2 == 0])
  sum_of_odd = sum([i for i in l1 if i % 2 != 0])
  return sum_of_even, sum_of_odd
l1 = [1,2,3,4,5,6,7,8,9,10]
e_sum, odd_sum = sum_odd_even(l1)
print(f'The coomputed sum of even and odd numbers present in a list are {e_sum} and {odd_sum} respectively.')

The coomputed sum of even and odd numbers present in a list are 30 and 25 respectively.

In [ ]:
n= int(input())
l1 = []
l2 = []
sum_of_even = 0
sum_of_odd = 0
for i in range(n+1):
    if i%2 == 0:
      print(i,end=' ')
      sum_of_even = sum_of_even + i
    if i%2 != 0:
      print(i,end=' ')
      sum_of_odd = sum_of_odd + i
l2.append(sum_of_even)
l1.append(sum_of_odd)
l2,l1

10
0 1 2 3 4 5 6 7 8 9 10

([30], [25])

*27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.*

In [ ]:
def square_of_odds(n):
  squares= [i**2 for i in range(n+1) if i%2 !=0]
  return squares
print(f'The list of squares of odd numbers between 1 and 10 is: {square_of_odds(10)}')

The list of squares of odd numbers between 1 and 10 is: [1, 9, 25, 49, 81]

*28. Write a program that combines two lists into a dictionary using list comprehension.*

In [ ]:
def dictionary(l1,l2):
  dictioray = {l1[i]:l2[i] for i in range(len(l1))}
  return dictioray
l2=['Vraj', 'Bhavsar', 'Hello', '20.09.2020', '11:30']
l1= ['Name','surname', 'Greetings', 'Date', 'Time' ]
dictionary(l1,l2)

{'Name': 'Vraj',
 'surname': 'Bhavsar',
 'Greetings': 'Hello',
 'Date': '20.09.2020',
 'Time': '11:30'}

*29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.*

In [ ]:
def vowel(string):
  vowels = [i for i in string if i in 'aeiouAEIOU']
  return vowels
string= input()
print(f' The vowels in "{string}" are {vowel(string)}')

Hello, How Are You?
 The vowels in "Hello, How Are You?" are ['e', 'o', 'o', 'A', 'e', 'o', 'u']

*30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.*

In [ ]:
def remove_nonnum(l1):
  only_nunms = [i for i in l1 if str(i).isdigit() == True]
  return only_nunms
l1= [1,2,3,'one', 'two', 'Three', 4,'Four', 5 , 6, 'six']
print(f'The list {l1} with non-numeric elements: \n{remove_nonnum(l1)}')

The list [1, 2, 3, 'one', 'two', 'Three', 4, 'Four', 5, 6, 'six'] with non-numeric elements:
[1, 2, 3, 4, 5, 6]